<div class="row-fluid sortme" ng-init="init()">
	<div id="infoContainer" class="span4 well well-small darken" resize-to="contentCanvas" resize-type="elementId" resize-reduction="0">
		<div id="elementContainer" class="span12 well well-small element scrollVertical" resize-to="infoContainer" resize-type="elementId" resize-reduction="0">
			<div class="dropdown">
				<span class="label label-default btn-block st-centered" data-i18n="_ElementHeading_"></span>
				<button class="btn btn-info btn-block dropdown-toggle" type="button">{{displayElement}} <i class="icon-chevron-down icon-white"></i></button>
				<ul class="dropdown-menu">
					<li>
						<a ng-click="selectElement('_RoleHeading_')" data-i18n="_RoleHeading_"></a>
					</li>
					<li>
						<a ng-click="selectElement('_DomainPermissionHeading_')" data-i18n="_DomainPermissionHeading_"></a>
					</li>
					<li>
						<a ng-click="selectElement('_FunctionalPermissionHeading_')" data-i18n="_FunctionalPermissionHeading_"></a>
					</li>
					<li>
						<a ng-click="selectElement('_PermissionHeading_')" data-i18n="_PermissionHeading_"></a>
					</li>
				</ul>
			</div>
			<div>
				<button class="btn btn-default" ng-click="isCollapsed = !isCollapsed"><i class="icon-plus-sign icon-white"></i></button>
				&nbsp;
					<div collapse="!isCollapsed">
						<form class="well well-small form-inline" name="elementForm" novalidate>
							<div class="controls">
									<st-input label-name="_NameHeading_" ng-hide="!isBasePermission()">
										<input id="nameInputId" type="text" data-ng-model="elementResource.Name" name="nameInput" ng-required="isBasePermission()" ng-minlength="5" ng-maxlength="60" />
									</st-input>
									<st-input label-name="_LabelHeading_" ng-hide="isBasePermission()">
										<input id="labelInputId" type="text" data-ng-model="elementResource.Label" name="labelInput" ng-required="!isBasePermission()" ng-minlength="5" ng-maxlength="60"  />
									</st-input>
									<st-input label-name="_DescriptionHeading_" ng-hide="isBasePermission()">
											<input id="descriptionInputId" type="text" data-ng-model="elementResource.Description" name="descriptionInput" ng-minlength="5" ng-maxlength="250" />
									</st-input>
								<br />
								<button class="btn btn-default" ng-disabled="elementForm.$invalid" ng-click="saveElement()" data-i18n="_SaveHeading_"></button>
								<button type="button" class="btn btn-warning" ng-click="cancelElementSave()" data-i18n="_CancelHeading_"></button>
							</div>
						</form>
					</div>
			</div>
			<div class="gridStyle" ng-grid="elementGridOptions"></div>
		</div>
	</div>
	<div id="permissionContentBody" class="span8 well well-small darken" resize-to="contentCanvas" resize-type="elementId" resize-reduction="0">
		<div class="row-fluid sortme">
			<div id="assignedContainer" class="span6 well well-small element" data-ng-hide="hideSublevels" resize-to="permissionContentBody" resize-type="elementId" resize-reduction="50">
				<span class="label label-default btn-block st-centered">{{AssignedHeader}}</span>
				<button class="btn btn-default btn-block" type="button" ng-click="assign('unAssign')" data-i18n="_UnAssignButtonHeading_"></button>
				<div class="gridStyle" ng-grid="assignedGridOptions"></div>
			</div>
			<div id="unAssignedContainer" class="span6 well well-small element" data-ng-hide="hideSublevels" resize-to="permissionContentBody" resize-type="elementId" resize-reduction="50">
				<span class="label label-default btn-block st-centered">{{UnAssignedHeader}}</span>
				<button class="btn btn-default btn-block" type="button" ng-click="assign('assign')" data-i18n="_AssignButtonHeading_"></button>
				<div class="gridStyle" ng-grid="unAssignedGridOptions"></div>
			</div>
		</div>
		<div data-ng-hide="hideSublevels" class="pull-right">
			<button class="btn btn-default" ng-disabled="madeSubListChanges" ng-click="saveSubElements()" data-i18n="_SaveHeading_"></button>
			<button type="button" class="btn btn-warning" ng-click="cancelSubElementEdit()" data-i18n="_CancelHeading_"></button>
		</div>
	</div>
</div>


