<div class="row-fluid sortme" ng-init="init()">
	<div class="span4 well well-small element">
		<div class="dropdown">
			<button class="btn btn-info btn-block dropdown-toggle" type="button">{{element}} <i class="icon-chevron-down icon-white"></i></button>
			<ul class="dropdown-menu">
				<li>
					<a ng-click="selectElement('Role')">Role</a>
				</li>
				<li>
					<a ng-click="selectElement('Domain Permissions')">Domain Permissions</a>
				</li>
				<li>
					<a ng-click="selectElement('Functional Permissions')">Functional Permissions</a>
				</li>
				<li>
					<a ng-click="selectElement('Permissions')">Permissions</a>
				</li>
			</ul>
		</div>
		<br />
		<div>
			<button class="btn btn-default" ng-click="isCollapsed = !isCollapsed"><i class="icon-plus-sign icon-white"></i></button>
			&nbsp;
			<div collapse="!isCollapsed">
				<div class="well well-large">Some content</div>
			</div>
		</div>
		<div class="gridStyle" ng-grid="elementGridOptions"></div>
	</div>
	<div class="span4 well well-small element" data-ng-hide="hideSublevels">
	<span class="label label-default btn-block st-centered">{{AssignedHeader}}</span>
		<button class="btn btn-default btn-block" type="button" ng-click="assign('unAssign')">Unassign Selected</button>
		<br />
		<table id="assignedRepeater" class="table table-striped table-condensed">
			<tbody>
				<tr ng-repeat="assigned in subElements.Assigned" ng-click="selectAssigned()">
					<td tooltip-placement="right" tooltip="{{assigned.Description}}" ng-class="{true:'st-selectedRow',false:''}[checkArrayForElement(selectedAssigned,assigned)]">{{ assigned.Label }}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="span4 well well-small element" data-ng-hide="hideSublevels">
			<span class="label label-default btn-block st-centered">{{UnAssignedHeader}}</span>
		<button class="btn btn-default btn-block" type="button" ng-click="assign('assign')">Assign Selected</button>
		<br />
		<table id="unAssignedRepeater" class="table table-striped table-condensed">
			<tbody>
				<tr ng-repeat="unAssigned in subElements.UnAssigned" ng-click="selectUnAssigned()">
					<td tooltip-placement="right" tooltip="{{unAssigned.Description}}" ng-class="{true:'st-selectedRow',false:''}[checkArrayForElement(selectedUnAssigned,unAssigned)]">{{ unAssigned.Label }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>


