<div class="row-fluid" ng-init="init()">
	<div id="infoContainer" class="span12 well well-small darken" resize-to="contentCanvas" resize-type="elementId" resize-reduction="0">
		<div resize-to="infoContainer" resize-type="elementId" resize-reduction="0">
			<div id="staticDataBar" style="height: 20%!important;" class="container-fluid horizontalContainer scrollVertical">
				<span class="label label-default btn-block st-centered" data-i18n="_HoursForHeading_"></span>
				<form class="form-inline" name="hoursMainFieldsForm" novalidate>
					<div class="row verticalRowStyle"  resize-to="staticDataBar" resize-type="elementId" resize-reduction="70">
						<div class="span2">
							<st-input label-name="_HoursDateHeading_">
								<input class="span8" id="dateInputId" ng-blur="personDataChanged()" data-ng-model="roomHoursResource.Date"  type="date" name="dateInput" required="required"  />
							</st-input>
						</div>
						<div class="span2">
							<st-input label-name="_RoomNumberHeading_">
								<input class="span8" id="roomNumberInputId" ng-blur="personDataChanged()" data-ng-model="roomHoursResource.RoomNumber"  type="text" name="roomNumberInput" required="required" maxlength="2" ng-minlength="2" ng-maxlength="2" />
							</st-input>
						</div>
						<div class="span2">
							<st-input label-name="_PersonNumberHeading_">
								<input class="span8" id="personNumberInputId" ng-blur="personDataChanged()" data-ng-model="roomHoursResource.PersonNumber"  type="text" name="personNumberInput" required="required" maxlength="4" ng-minlength="4" ng-maxlength="4" />
							</st-input>
						</div>
					</div>
				</form>
			</div>
			<div id="hoursDataBar" style="height: 25%!important;" class="container-fluid horizontalContainer scrollVertical">
				<span class="label label-default btn-block st-centered" data-i18n="_HoursDetailHeading_"></span>
				<form class="form-inline" name="hoursDataFieldsForm" novalidate>
					<div class="row verticalRowStyle"  resize-to="hoursDataBar" resize-type="elementId" resize-reduction="70">
						<div class="span2">
							<label for="costCentreSelection" data-i18n="_CostCentreHeading_"></label>
							<div class="controls">
								<select id="costCentreSelection" data-ng-model="roomHoursResource.CostCentreId" data-ng-options="opt.Id as opt.Code + ' - ' + opt.Description for opt in costCentres"></select>
							</div>
						</div>
						<div class="span2">
							<st-input label-name="_OrderNumberHeading_">
								<input class="span8" id="orderNumberInputId" data-ng-model="roomHoursResource.OrderNumber"  type="text" name="orderNumberInput" required="required" maxlength="4" ng-minlength="4" ng-maxlength="4" />
							</st-input>
						</div>
						<div class="span2">
							<st-input label-name="_HoursHeading_">
								<input class="span8" id="hoursInputId" data-ng-model="roomHoursResource.Hours"  type="number" step="0.25" name="hoursInput" required="required" min="0.25" max="24.00" />
							</st-input>
						</div>
						<div class="span2">
							<st-input label-name="_DescriptionHeading_">
								<input class="span8" id="descriptionInputId" data-ng-model="roomHoursResource.Description"  type="text" name="descriptionInput" maxlength="22" ng-minlength=2 ng-maxlength="22" />
							</st-input>
						</div>
					</div>
					<button class="btn btn-default pull-right" ng-disabled="hoursDataFieldsForm.$invalid||hoursMainFieldsForm.$invalid" ng-click="addHoursEntry()" data-i18n="_SaveHeading_"></button>
				</form>
			</div>
			<div id="gridContainer" style="height: 54%!important;" class="container-fluid horizontalContainer scrollVertical">
				<span class="label label-default btn-block st-centered" data-i18n="_HoursForCurrentPersonDateSessionHeading_"></span>
				<div class="gridStyle" ng-grid="enteredHoursGridOptions" ng-hide="gridSource.length == 0"></div>
			</div>
		</div>
	</div>
</div>


