<div class="row-fluid sortme">
	<div id="infoContainer" class="span12 well well-small darken" resize-to="contentCanvas" resize-type="elementId" resize-reduction="0">
		<table resize-to="infoContainer" resize-type="elementId" resize-reduction="0">
			<tr style="height: 30%; background-color: black;">
				<div class="span12 well well-small element scrollVertical">
				</div>
			</tr>
			<tr style="height: 30%">
				<div class="span12 well well-small element scrollVertical" >
				</div>
			</tr>
			<tr style="height: 30%">
				<div class="span12 well well-small element scrollVertical" >
				</div>
			</tr>
		</table>
	</div>
	<!--<div class="span8 well well-small darken" resize-to="contentCanvas" resize-type="elementId" resize-reduction="0">
	</div>-->
</div>

