<div class="hero-unit">
	<h1 data-i18n="_LogInHeading_"></h1>
	<ul>
		<li>admin/123</li>
		<li>user/123</li>
		<li>nlgebruiker/123</li>
	</ul>
	<form ng-submit="login()" name="loginForm" class="form-horizontal" novalidate>
		<st-input label-name="_UserNameHeading_" label-class="control-label">
			<input type="text" data-ng-model="user.UserName" data-i18n-attr="_UserNameHeading_|placeholder" name="username" required="required"/>
		</st-input>
		<st-input label-name="_PasswordHeading_" label-class="control-label">
			<input type="Password" data-ng-model="user.Password" data-i18n-attr="_PasswordHeading_|placeholder" name="password" required="required" />
		</st-input>
		<div class="control-group">
			<div class="controls">
				<label for="RememberMeInput" class="checkbox">
					<input id="RememberMeInput" type="checkbox" data-ng-model="user.Rememberme" name="rememberme" /><span data-i18n="_RememberMeHeading_"></span>
				</label>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<button id="loginButton" type="submit" class="btn" data-i18n="_LogInHeading_"></button>
			</div>
		</div>
	</form>
	<hr />
	<!--TODO: <p>... or use one of them fancy social logins:</p>
	<div class="btn-group">
		<a href="" data-ng-click="loginOauth('facebook')" class="btn">
			<i class="icon-facebook-sign"></i> 
			Facebook
		</a>
		<a href="" data-ng-click="loginOauth('twitter')" class="btn">
			<i class="icon-twitter"></i>
			Twitter
		</a>
		<a href="" data-ng-click="loginOauth('google')" class="btn">
			<i class="icon-google-plus-sign"></i>
			Google
		</a>
		<a href="" data-ng-click="loginOauth('linkedin')" class="btn">
			<i class="icon-linkedin"></i>
			LinkedIn
		</a>
	</div>-->
</div>
