<div class="row-fluid sortme" ng-init="init()">
	<div id="infoContainer" class="span4 well well-small darken" resize-to="contentCanvas" resize-type="elementId" resize-reduction="0">
		<div id="elementContainer" class="span12 well well-small element scrollVertical" resize-to="infoContainer" resize-type="elementId" resize-reduction="0">
			<div>
				<span class="label label-default btn-block st-centered" data-i18n="_AdministrateUsersHeading_"></span>

				<button class="btn btn-default" ng-click="addUser()"><i class="icon-plus-sign icon-white"></i></button>
				<!--	<input type="text" class="input-large" ng-model="filterOptions.filterText" data-i18n-attr="_SearchMessage_|placeholder"><span class="add-on"><i class="icon-search"></i></span>-->
				<br />
				<div collapse="!isCollapsed">
					<form class="well well-small form-inline" name="elementForm">
						<div class="controls">
							<div class="control-group">
								<label for="userNameInput" class="control-label" data-i18n="_UserNameHeading_"></label>
								<div class="controls">
									<input id="userNameInput" type="text" data-i18n-attr="_UserNameMessage_|placeholder" data-ng-model="elementResource.UserName" name="UserName" data-ng-minlength="1" data-ng-maxlength="20" required="required" user-available ng-readonly="isEdit" />
								</div>
							</div>
							<div class="control-group" ng-show="isNew">
								<label for="passwordInput" class="control-label" data-i18n="_PasswordHeading_"></label>
								<div class="controls">
									<input id="passwordInput" type="password" data-ng-model="elementResource.Password" data-i18n-attr="_PasswordHeading_|placeholder" name="password" ng-required="passwordIsRequired" data-ng-minlength="5" data-ng-maxlength="60" />
								</div>
							</div>
							<div class="control-group">
								<label for="role" class="control-label" data-i18n="_RoleHeading_"></label>
								<div class="controls">
									<select id="role" data-ng-model="userRole" data-ng-options="opt.Id as opt.Label for opt in roles"></select>
								</div>
							</div>
							<div class="control-group">
								<label for="userLanguageSelect" class="control-label" data-i18n="_LanguageHeading_"></label>
								<div class="controls">
									<select id="userLanguageSelect" ng-model="elementResource.Language">
										<option value="en-US" data-i18n="_EnglishHeading_"></option>
										<option value="nl-nl" data-i18n="_DutchHeading_"></option>
									</select>
								</div>
							</div>
							<div class="control-group" ng-show="isEdit">
								<label for="activeInput" class="checkbox">
									<input id="activeInput" type="checkbox" ng-model="elementResource.Active" />
									<span data-i18n="_ActiveHeading_"></span>
								</label>
							</div>
							<br />
							<button id="saveNewUserButton" class="btn btn-default" ng-show="isNew"
								ng-click="addNewUser()"
								data-i18n="_SaveHeading_">
							</button>
							<button id="saveEditedUserButton" class="btn btn-default" ng-show="isEdit"
								ng-disabled="elementForm.$invalid" ng-click="updateUser()" data-i18n="_UpdateHeading_">
							</button>
							<button type="button" class="btn btn-warning" ng-click="cancelUserSave()" data-i18n="_CancelHeading_"></button>
						</div>
					</form>
				</div>
			</div>
			<div class="gridStyle" ng-grid="userGridOptions"></div>
		</div>
	</div>

	<div class="span8 well well-small darken" resize-to="contentCanvas" resize-type="elementId" resize-reduction="0">
		<div id="Div1" class="span12 well well-small element scrollVertical" resize-to="infoContainer" resize-type="elementId" resize-reduction="0">
			<div>
				<span class="label label-default btn-block st-centered" data-i18n="_AdministrateUserDomainPermissionsHeading_"></span>

				<button class="btn btn-default" ng-click="addDP()"><i class="icon-plus-sign icon-white"></i></button>
				<!--	<input type="text" class="input-large" ng-model="filterOptions.filterText" data-i18n-attr="_SearchMessage_|placeholder"><span class="add-on"><i class="icon-search"></i></span>-->
				<br />
				<div collapse="!isDPCollapsed">
					<form class="well well-small form-inline" name="elementForm">
						<div class="controls">
							<div class="control-group">
								<label for="domainPermissions" class="control-label" data-i18n="_DomainPermissionsHeading_"></label>
								<div class="controls">
									<select id="domainPermissions" data-ng-model="domainPermissionSelectedId" data-ng-options="opt.Id as opt.Label for opt in domainPermissionsAvailable"></select>
								</div>
							</div>
							
							<div class="form-horizontal">
								<input type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="dtStart" is-open="openedDtStart" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" />
								<button class="btn" ng-click="openDtStart()"><i class="icon-calendar"></i></button>
							</div>
							
							<div class="form-horizontal">
								<input type="text" datepicker-popup="dd-MMMM-yyyy" datepicker-append-to-body="true" ng-model="dtEnd" is-open="openedDtEnd" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" />
								<button class="btn" ng-click="openDtEnd()"><i class="icon-calendar"></i></button>
							</div>
							<br />
							<button id="btnAddNewDp" class="btn btn-default" ng-show="isDPNew"
								ng-click="saveDP()"
								data-i18n="_SaveHeading_">
							</button>
							<button id="btnUpdateDP" class="btn btn-default" ng-show="isDPEdit"
								ng-disabled="dpForm.$invalid" ng-click="saveDP()" data-i18n="_UpdateHeading_">
							</button>
							<button type="button" class="btn btn-warning" ng-click="cancelDPSave()" data-i18n="_CancelHeading_"></button>
						</div>
					</form>
				</div>
			</div>
			<div class="gridStyle" ng-grid="dpGridOptions"></div>
		</div>
	</div>
</div>
