<div  class="container" ng-init="init()">
	<div class="modal-header">
		<h3 ng-show="isNew" data-i18n="_AddUserHeading_"></h3>
		<h3 ng-show="isEdit" data-i18n="_EditUserHeading_"></h3>
	</div>

	<div id="userAddEditPopupBody" class="modal-body">
		<form class="well well-small form-inline" name="addUserForm">
			<div class="controls">
				<div class="control-group">
					<label for="username" class="control-label" data-i18n="_UserNameHeading_"></label>
					<div class="controls">
						<input id="userNameInput" type="text" data-i18n-attr="_UserNameMessage_|placeholder" data-ng-model="user.UserName" name="UserName" data-ng-minlength="1" data-ng-maxlength="20"  required="required" user-available ng-readonly="isEdit" />
					</div>
				</div>
				<div class="control-group" ng-show="isNew">
					<label for="Password" class="control-label" data-i18n="_PasswordHeading_"></label>
					<div class="controls">
						<input  id="passwordInput" type="password" data-ng-model="user.Password" data-i18n-attr="_PasswordHeading_|placeholder" name="password" required="required" data-ng-minlength="5" data-ng-maxlength="60" />
					</div>
				</div>
				<div class="control-group">
					<label for="role" class="control-label" data-i18n="_RoleHeading_"></label>
					<div class="controls">
						<select ng-model="user.Roles[0]" onselect="updateRole()" ng-options="opt for opt in options.role"></select>
					</div>
				</div>
				<div class="control-group">
					<label for="Language" class="control-label" data-i18n="_LanguageHeading_"></label>
					<div class="controls">
						<select id="userLanguageSelect" ng-model="user.Language">
							<option value="en-US" data-i18n="_EnglishHeading_"></option>
							<option value="nl-nl" data-i18n="_DutchHeading_"></option>
						</select>
					</div>
				</div>
				<div class="control-group" ng-show="isEdit">
					<label for="activeInput" class="checkbox">
						<input id="activeInput" type="checkbox" ng-model="user.Active" />
						<span data-i18n="_ActiveHeading_"></span>
					</label>
				</div>
				<div ng-show="addUserForm.$invalid" class="alert alert-error">
					<strong>Please correct the following errors:</strong>
					<ul>
						<!--<li ng-show="addUserDialog.errors.userExists">Username already exists.</li>-->
						<li ng-show="addUserForm.UserName.$error.userAvailable">Username already exists</li>
						<li ng-show="addUserForm.UserName.$error.required">Username is required</li>
						<li ng-show="addUserForm.UserName.$error.minlength">Username has to be at least 1 character long</li>
						<li ng-show="addUserForm.UserName.$error.maxlength">Username has to be at most 20 character long</li>
						<li ng-show="addUserForm.password.$error.required && isNew">Password is required</li>
						<li ng-show="addUserForm.password.$error.minlength && isNew">Password must be at least 5 characters long</li>
						<li ng-show="addUserForm.password.$error.maxlength && isNew">Password must be at most 60 characters long</li>
					</ul>
				</div>
				<div class="modal-footer">
					<button class="btn" ng-click="cancel()" data-i18n="_CancelHeading_"></button>
					<button id="saveNewUserButton" class="btn btn-primary" ng-show="isNew"
						ng-click="save()"
						ng-disabled="addUserForm.$invalid" data-i18n="_SaveHeading_">
					</button>
					<button id="saveEditedUserButton" class="btn btn-primary" ng-show="isEdit"
						ng-click="update()" data-i18n="_UpdateHeading_">
					</button>
				</div>
			</div>
		</form>
	</div>
</div>

