<div class="row-fluid sortme" ng-init="init()">
	<div id="elementContainer" class="span4 well well-small element scrollVertical" resize-to="contentCanvas" resize-type="elementId" resize-reduction="0">
		<div>
			<span class="label label-default btn-block st-centered" data-i18n="_AdministrateUsersHeading_"></span>

			<button class="btn btn-default" ng-click="addElement()"><i class="icon-plus-sign icon-white"></i></button>
			&nbsp;
			<div collapse="!isCollapsed">
				<form class="well well-small form-inline" name="elementForm">
					<div class="controls">
						<div class="control-group">
							<label for="username" class="control-label" data-i18n="_UserNameHeading_"></label>
							<div class="controls">
								<input id="userNameInput" type="text" data-i18n-attr="_UserNameMessage_|placeholder" data-ng-model="elementResource.UserName" name="UserName" data-ng-minlength="1" data-ng-maxlength="20" required="required" user-available ng-readonly="isEdit" />
							</div>
						</div>
						<div class="control-group" ng-show="isNew">
							<label for="Password" class="control-label" data-i18n="_PasswordHeading_"></label>
							<div class="controls">
								<input id="passwordInput" type="password" data-ng-model="elementResource.Password" data-i18n-attr="_PasswordHeading_|placeholder" name="password" ng-required="passwordIsRequired" data-ng-minlength="5" data-ng-maxlength="60" />
							</div>
						</div>
						<div class="control-group">
							<label for="role" class="control-label" data-i18n="_RoleHeading_"></label>
							<div class="controls">
								<select ng-model="elementResource.Roles[0]" onselect="updateRole()" ng-options="opt for opt in options.role"></select>
							</div>
						</div>
						<div class="control-group">
							<label for="Language" class="control-label" data-i18n="_LanguageHeading_"></label>
							<div class="controls">
								<select id="userLanguageSelect" ng-model="elementResource.Language">
									<option value="en-US" data-i18n="_EnglishHeading_"></option>
									<option value="nl-nl" data-i18n="_DutchHeading_"></option>
								</select>
							</div>
						</div>
						<div class="control-group" ng-show="isEdit">
							<label for="activeInput" class="checkbox">
								<input id="activeInput" type="checkbox" ng-model="elementResource.Active" />
								<span data-i18n="_ActiveHeading_"></span>
							</label>
						</div>
						<br />
						<button id="saveNewUserButton" class="btn btn-default" ng-show="isNew"
							ng-click="addNewElement()"
							data-i18n="_SaveHeading_">
						</button>
						<button id="saveEditedUserButton" class="btn btn-default" ng-show="isEdit"
							ng-disabled="elementForm.$invalid" ng-click="updateElement()" data-i18n="_UpdateHeading_">
						</button>
						<button type="button" class="btn btn-warning" ng-click="cancelElementSave()" data-i18n="_CancelHeading_"></button>
					</div>
				</form>
			</div>
		</div>
	<div class="gridStyle" ng-grid="elementGridOptions"></div>

</div>
<div class="span7" style="background-color: grey !important">
	<!--Body content-->
</div>
</div>

