[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none;
}

body {
	font-size: 1em;
	padding-top: 77px;
	padding-bottom: 22px;
}

.breadcrumb {
 margin-bottom: 0px !important;
}

#cover {
	position: absolute;
	height: 100%;
	width: 100%;
	background: white;
}

#userInfo {
	float: right;
	padding: 8px;
}

.icon-twitter {
	color: #00A7E7;
}

.icon-facebook-sign {
	color: #3662A0;
}

.icon-google-plus-sign {
	color: #D74634;
}

.fade-hide-setup, .fade-show-setup {
	-webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
	-moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
	-o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
	transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.fade-hide-setup {
	opacity: 1;
}

.fade-hide-setup.fade-hide-start {
	opacity: 0;
}

.fade-show-setup {
	opacity: 0;
}

.fade-show-setup.fade-show-start {
	opacity: 1;
}

.st-centered {
	text-align: center!important;
	font-size: 17px!important;
}

@media (max-width: 979px) {
	.navbar-fixed-top,
	.navbar-fixed-bottom {
		position: fixed;
	}

	body {
		padding-top: 77px;
		padding-bottom: 22px;
	}
}

.footer {
	background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
	border: 1px solid #d4d4d4;
}

.scrollVertical {
	overflow-y: auto;
}

.darken {
	background-color: #D3D3D3 !important;
}

.darkenMore {
	background-color: #C4C4C4 !important;
}

.gridStyle {
	/*border: 1px solid rgb(212,212,212);*/
	/*height: 100%;*/
	/*height: 80%;
	width: 99%;*/
}

.ngViewport {
	overflow: hidden!important;
}

/* Mini layout previews
-------------------------------------------------- */
.mini-layout {
	border: 1px solid #ddd;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.075);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.075);
	box-shadow: 0 1px 2px rgba(0,0,0,.075);
}

.mini-layout,
.mini-layout .mini-layout-body,
.mini-layout.fluid .mini-layout-sidebar {
	height: 300px;
}

.mini-layout {
	margin-bottom: 20px;
	padding: 9px;
}

.mini-layout div {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.mini-layout .mini-layout-body {
	background-color: #dceaf4;
	margin: 0 auto;
	width: 70%;
}

.mini-layout.fluid .mini-layout-sidebar,
.mini-layout.fluid .mini-layout-header,
.mini-layout.fluid .mini-layout-body {
	float: left;
}

.mini-layout.fluid .mini-layout-sidebar {
	background-color: #bbd8e9;
	width: 20%;
}

.mini-layout.fluid .mini-layout-body {
	width: 77.5%;
	margin-left: 2.5%;
}
/*Style for invalid text boxes. Red styling until it is validated.*/
/*input.ng-invalid {
	border-color: #e9322d!important;
	-webkit-box-shadow: 0 0 6px #f8b9b7!important;
		 -moz-box-shadow: 0 0 6px #f8b9b7!important;
					box-shadow: 0 0 6px #f8b9b7!important;
}*/
