<div class="row-fluid ">
	<div id="infoContainer" class="span12 well well-small darken" resize-to="contentCanvas" resize-type="elementId" resize-reduction="0">
		<div resize-to="infoContainer" resize-type="elementId" resize-reduction="0">
				<div  style="height: 15%!important;" class="container-fluid horizontalContainer">
				</div>
				<div  style="height: 15%!important;" class="container-fluid horizontalContainer">
				</div>
				<div  style="height: 69%!important;" class="container-fluid horizontalContainer">
				</div>
		</div>
	</div>
</div>
