<div class="row-fluid sortme" ng-init="init()">
	<div id="infoContainer" class="span4 well well-small darken" resize-to="contentCanvas" resize-type="elementId" resize-reduction="0">
		<div id="elementContainer" class="span12 well well-small element scrollVertical" resize-to="infoContainer" resize-type="elementId" resize-reduction="0">
			<div class="dropdown">
				<span class="label label-default btn-block st-centered" data-i18n="_FunctionalPermissionHeading_"></span>
			</div>
			<div>
				<button ng-show="canCreate" class="btn btn-default" ng-click="addNewElement()" data-ng-disabled="isAddDisabled"><i class="icon-plus-sign icon-white"></i></button>
				&nbsp;
					<div collapse="!isCollapsed">
						<form class="well well-small form-inline" name="elementForm" novalidate>
							<div class="controls">
								<div class="control-group" >
									<st-input label-name="_NameHeading_" >
									<input id="nameInputId" type="text" data-ng-model="elementResource.Name" name="nameInput" ng-required="isBasePermission()" ng-minlength="5" ng-maxlength="60" />
								</st-input>
									<br />
								</div>
							</div>
							<button class="btn btn-default" id="btnSave" data-ng-disabled="elementForm.$invalid" ng-click="saveElement()" data-i18n="_SaveHeading_" ></button>
							<button type="button" class="btn btn-warning" data-ng-click="cancelElementSave()" data-i18n="_CancelHeading_"></button>
						</form>
					</div>
			</div>
			<div class="gridStyle" ng-grid="elementGridOptions"></div>
		</div>
	</div>
	<div id="permissionContentBody" class="span8 well well-small darken" resize-to="contentCanvas" resize-type="elementId" resize-reduction="0">
		<div class="row-fluid sortme">
			<div id="assignedContainer" class="span6 well well-small element scrollVertical" data-ng-hide="hideSublevels" resize-to="permissionContentBody" resize-type="elementId" resize-reduction="50">
				<span class="label label-default btn-block st-centered" data-i18n="_AssignedPermissionHeading_"></span>
				<button class="btn btn-default btn-block" ng-disabled="!canUpdate" type="button" ng-click="assign('unAssign')" data-i18n="_UnAssignButtonHeading_"></button>
				<div class="gridStyle" ng-grid="assignedGridOptions"></div>
			</div>
			<div id="unAssignedContainer" class="span6 well well-small element scrollVertical" data-ng-hide="hideSublevels" resize-to="permissionContentBody" resize-type="elementId" resize-reduction="50">
				<span class="label label-default btn-block st-centered" data-i18n="_AvailablePermissionHeading_"></span>
				<button class="btn btn-default btn-block" ng-disabled="!canUpdate" type="button" ng-click="assign('assign')" data-i18n="_AssignButtonHeading_"></button>
				<div class="gridStyle" ng-grid="unAssignedGridOptions"></div>
			</div>
		</div>
		<div data-ng-hide="hideSublevels" class="pull-right">
			<button class="btn btn-default" ng-disabled="madeSubListChanges" ng-click="saveSubElements()" data-i18n="_SaveHeading_"></button>
			<button type="button" ng-disabled="!canUpdate" class="btn btn-warning" ng-click="cancelSubElementEdit()" data-i18n="_CancelHeading_"></button>
		</div>
	</div>
</div>


